<div class="card bg-dark text-white mb-3" id="<%= dom_id static_page %>">
  <div class="card-header"><%= static_page.title %></div>
  <div class="card-body">
    <h4 class="card-title"><%= static_page.title %></h4>
    <p class="card-text"><%= static_page.body %></p>
  </div>
</div>