<div id="<%= dom_id sales_order_detail %>">
  <p>
    <strong>Quantity:</strong>
    <%= sales_order_detail.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= sales_order_detail.price %>
  </p>

  <p>
    <strong>Shipped:</strong>
    <%= sales_order_detail.shipped %>
  </p>

</div>
