<h1>Editing sales order detail</h1>

<%= render "form", sales_order_detail: @sales_order_detail %>

<br>

<div>
  <%= link_to "Show this sales order detail", @sales_order_detail %> |
  <%= link_to "Back to sales order details", sales_order_details_path %>
</div>
