<div class="card bg-dark text-white mb-3">
  <div class="card-body">
    <div class="d-flex mb-0">
      <%= form_with(method: 'get', local: true, class: "input-group") do %>
        <%= text_field_tag :search, params[:search], placeholder: 'Search in ' + category_title, class: 'form-control' %>
        <%= submit_tag("Search", class: "btn btn-secondary") %>
      <% end %>
    </div>
  </div>
</div>